body {
  background-color: #030303;
  margin: 0px;
  color: #eee;
}

#screen {
    width: 100%;
    height: 100%;
}

#officerScreen {
    width: 90%;
    margin-right:5%;
    margin-left:5%;
}

#ammoBarFrame {
    width: 100%;
    margin-top:10px;
    display: inline-block;
    border: 1vmin solid #004700;
    margin-bottom:20px;
}

#ammoBar {
    width: 100%;
    height: 20vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.item {
    width: 3.95%;
    background-color: #C9FFC9;
}

.border {
    width: 1%;
}

.bar {
    float: left;
    display: block;
    height: inherit;
}

.filled {
    background-color: #00A700 !important;
}

.animated {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#status {
  position:absolute;
  top:0px;
  border-style: solid;
  border-color: rgba(100,100,100,0.4);
  border-width: 0px 0px 2px 0px;
  background-color: rgba(0,0,0,0.8);
  height: auto;
  width: 100%;
  font-size: 20px;
  font-family: monospace;
  color: #ddd;
  padding-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
}



.registerBox {
  width:80%;
  margin-left:auto;
  margin-right:auto;
  margin-top: 100px;
  text-align: center;
  font-size: 18px;
}





.scoreBar {
  position:absolute;
  bottom:0px;
  border-style: solid;
  border-color: rgba(100,100,100,0.4);
  border-width: 2px 2px 0px 0px;
  background-color: rgba(0,0,0,0.8);
  height: auto;
  width: auto;
  font-size: 20px;
  font-family: monospace;
  color: #ddd;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
}

#canvas {
  background-color: #030303;
  height:100%;
}

.officer_score {
    float:left;
    font-size: 40px;
}
.engineer_alert {
    float:right;
}
.engineer_button {
    border: 2px solid rgba(30, 50, 70, 1);;
    background-color: rgba(30, 50, 70, 0.5);
    width: 200px;
    height: 50px;
    padding: 15px;
    font-size: 14px;
    text-align: center;
}
.engineer_alert > .repair {
    margin-bottom:10px;
}

.engineer_alert > .upgrade {

}
