body {
  background-color: #121212;
}
.spectators {
    margin-top:50px;
    margin-left:100px;
}

.spectotor_box {
    background-image: url("img/player_bg.png");
    background-size: 100% 100%;
    width: 40%;
    height: 50px;
    margin-bottom:20px;
    padding:10px;
}

.spectotor_box > .name {
    font-size: 20px;
    float: left;
}
.spectotor_box > .score {
    font-size: 20px;
    float: right;
}
