body {
  background-image: url("img/bg.png");
  background-color: #000;
  background-size: 110%;
}
.ship_stats {
  width:80%;
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:150px;
}
.player_stats {
  width:80%;
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;
  margin-bottom:50px;
}

.text_stats {
  float: left;
  width: 40%;
}

.stat_element {
  margin-top: 50px;
}
.stat_icon {
  font-size:38px;
  float: left;
  margin-top:5px;
}
.stat_value {
  font-size: 35px;
  margin-left:50px;
}

.player {
  float: left;
  width: 21%;
  margin-left:20px;
  margin-right:20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding-top: 20px;
  padding-bottom: 20px;
}

.player_icon {
  font-size:78px;
}
.player_name {
  font-size: 28px;
  font-weight: bold;
}
.player_score {
  font-size: 22px;
}
