# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*~
Thumbs.db.meta



# Web symbolic links that we don't need in the repo.
web/admin_web/fonts
web/admin_web/include
web/phone_web/fonts
web/phone_web/include
web/stats_web/fonts
web/stats_web/include
