# Map usernames and emails, this way git shortlog -sn works nicely.
frank_hemsworth <fh13286@my.bristol.ac.uk>
dillon_diep <dd13282@my.bristol.ac.uk>
dillon_diep <archdd@live.com>
marc_steene <marcsteene@marcs-air.home>
Artur <csika94@hotmail.com> Noodles <NA>
