#screen {
    width: 100%;
    height: 100%;
}

#ammoBarFrame {
    width: 98%;
    display: inline-block;
    border: 1vmin solid #004700;
}

#ammoBar {
    width: 100%;
    height: 20vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.item {
    width: 3.95%;
    background-color: #C9FFC9;
}

.border {
    width: 1%;
    background-color: white;
}

.bar {
    float: left;
    display: block;
    height: inherit;
}

.filled {
    background-color: #00A700 !important;
}
