body {
  background-color: #030303;
  margin: 0px;
  color: #eee;
}

#screen {
    width: 100%;
    height: 100%;
}

#ammoBarFrame {
    width: 98%;
    display: inline-block;
    border: 1vmin solid #004700;
}

#ammoBar {
    width: 100%;
    height: 20vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.item {
    width: 3.95%;
    background-color: #C9FFC9;
}

.border {
    width: 1%;
}

.bar {
    float: left;
    display: block;
    height: inherit;
}

.filled {
    background-color: #00A700 !important;
}

.animated {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}










.scoreBar {
  position:absolute;
  bottom:0px;
  border-style: solid;
  border-color: rgba(100,100,100,0.4);
  border-width: 2px 2px 0px 0px;
  background-color: rgba(0,0,0,0.8);
  height: auto;
  width: auto;
  font-size: 20px;
  font-family: monospace;
  color: #ddd;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
}
