#status {
    top:0px;
    border-style: solid;
    border-color: rgba(100,100,100,0.4);
    border-width: 0px 0px 2px 0px;
    background-color: rgba(0,0,0,0.8);
    height: auto;
    width: 100%;
    font-size: 14px;
    font-family: monospace;
    color: #ddd;
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
}

.screen-row-elm {
    display: inline-block;
}

/*table related clsses*/
.table-container {
    width: 85%;
    border-right: 2px;
    border-right-style: solid;
    border-color: black;
}

.table-entry {
    margin-bottom: 5px;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-color: black;
    padding-bottom: 2px;
}

.table-title {
    margin-bottom: 10px;
    text-align: center;
}

.cell-legend {
    padding-bottom: 3px;
    padding-top: 3px;
    text-align: center;
}

.table-row {
    width: inherit;
}

/* all *-entry classes are used on actual entries and not on the legend
   cell-legend is used on cells instead of these*/

.table-cell {
    display: inline-block;
    border-right: 1px;
    border-right-style: dotted;
    border-top: 1px;
    border-top-style: dotted;
    border-color: black;
    overflow: hidden;
}

.user-name {
    width: 25%;
    padding-left: 5px;
}

.user-id {
    width: 25%;
    padding-left: 5px;
}

.score {
    width: 15%;
}

.score-entry {
    text-align: right;
    padding-right: 5px;
}

.is-online {
    width: 15%;
}

.is-online-entry {
    text-align: center;
}

.user-action {
    width: 20%;
}

.user-action-entry {
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: super;
}

/* menu related classes */
.menu {
    width: 14%;
    vertical-align: top;
    text-align: center;
}

.start-game-button {
    margin-bottom: 10px;
}

.status-section {
    margin-bottom: 10px;
}

.status-value {
    font-weight: bold;
}

.game-state {
    margin-bottom: 10px;
}

.game-state-value {
    font-weight: bold;
}
