body {
    background-color: #111111;
    color: #eeeeee;
    font-family: monospace;
}
.title {
    font-size: 65px;
    margin-bottom:10px;
}
.step {
    width: 100%;
    height: 200px;
    margin-top:50px;
}

.number {
    float: left;
    width: 10%;
    font-size: 55px;
}

.image {
    width: 15%;
    float: left;
    margin-left: 20px;
}

.description {
    float: left;
    margin-left: 20px;
    font-size: 30px;
}
