body {
    background-color: #111111;
    color: #eeeeee;
    font-family: 'XoloniumBold';
    padding: 20px;
}

@font-face{
    font-family: 'XoloniumBold';
    src: url('fonts/XoloniumBold.otf') format('opentype');
}
a {
    color: #aaa;
}
.title {
    font-size: 65px;
    margin-bottom:10px;
}
.step {
    width: 100%;
    height: 250px;
    margin-top:50px;
}

.number {
    float: left;
    width: 10%;
    font-size: 55px;
}

.image {
    width: 30%;
    float: left;
    margin-left: 20px;
}

.description {
    float: left;
    margin-left: 20px;
    font-size: 30px;
}
